body{
    background-color: slategray;
}

p{
    margin: 20px auto;
}

.content-wrap{
    width: auto;
    min-width: 460px;
    background-color: white;
    padding: 30px;
    margin: 75px 300px auto 20px;
}

.about-img{
    margin: 20px 20px 10px auto;
    height: 200px;
    width: 200px;
}

.folio-img{
    margin: 40px auto 0px auto;
    height: 260px;
    width: 326px;
    max-height: 260px;
    max-width: auto;
}

@media (max-width: 575px) {
    .content-wrap {
        min-width: auto;
        padding:30px;
        margin: 50px 15px auto 15px;
    }
}
  